<div id="newArticlesContainer">
    <span id="cardTitle">New</span>

    <div class="article">
        <h2 class="articleTitle">
            Hydrogen VS Electric Cars
        </h2>
        <span class="articleText">
            Will hydrogen-fueled cars ever catch up to EVs?
        </span>
    </div>

    <hr>

    <div class="article">
        <h2 class="articleTitle">
            The Downside of AI Artistry
        </h2>
        <span class="articleText">
            What are the possible adverse effects of on-demand AI image generation?
        </span>
    </div>

    <hr>

    <div class="article">
        <h2 class="articleTitle">
            Is VC Funding Drying Up?
        </h2>
        <span class="articleText">
            Private funding by VC firms is down 50% YOY. We take a look at what that means.
        </span>
    </div>

</div>