<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-menu-bar></app-menu-bar>
  <main>
    <app-main-card></app-main-card>
    <app-new-articles-card></app-new-articles-card>

    <app-trending-section 
      id="t1"
      articleTitle="Reviving Retro PCs"
      articleText="What happens when old PCs are given modern upgrades?"
      imgUrl="../../assets/images/image-retro-pcs.jpg"
      counter="01"
    ></app-trending-section>

    <app-trending-section 
      id="t2"
      articleTitle="Top 10 Laptops of 2022"
      articleText="Our best picks for various needs and budgets."
      imgUrl="../../assets/images/image-top-laptops.jpg"
      counter="02"
    ></app-trending-section>

    <app-trending-section 
      id="t3"
      articleTitle="The Growth of Gaming"
      articleText="How the pandemic has sparked fresh opportunities."
      imgUrl="../../assets/images/image-gaming-growth.jpg"
      counter="03"
    ></app-trending-section>
  </main>
</body>
</html>