*
{
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

html, body
{
    min-height: 100vh;
    overflow: auto;
}

body
{
    padding: 6rem 10%;
    background-color: var(--backgroundColor);
}

main
{
    display: grid;
    grid-template-areas: 
    "main main news"
    "main main news"
    "t1 t2 t3";

    gap: 5rem 2rem;
}

app-main-card
{
    grid-area: main;
}
app-new-articles-card
{
    grid-area: news;
}
app-trending-section
{
    
}
#t1 { grid-area: t1; }
#t2 { grid-area: t2; }
#t3 { grid-area: t3; }