/* You can add global styles to this file, and also import other style files */
:root
{
    --backgroundColor: #FDFCF8;
    --primaryColor: #00001A;
    --secondaryColor: #E7A44B;
    --accentColor: orangered;
}

*
{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: Inter;
}

@font-face {
    font-family: Inter;
    src: url('../src/assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}